{{ define "main" }}
<style>
  .authorbio {
    position: relative;
    height: 150px;
    border-radius: 3px;
    border-color: black;
  }

  .authorimage img {
    float: left;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    padding: 8px;
  }

  .authorcontent {
    float: right;
    padding: 8px;
  }
</style>

<!-- checking blog -->
{{ if or (or (eq .Section "post") (eq .Section "blog")) (or (eq .Section "categories") (eq .Section "tags") )}}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" class="img-fluid w-100 rounded mb-4">
        <h2 class="mb-4">{{ .Title }}</h2>
        <div class="content">{{.Content}}</div>

        <!-- Assinatura dos autores -->
        <!-- TODO: todo o .css -->
        {{ with .Params.authors }}
        {{ range . }}
        <div class="authorbio">
          <div class="authorimage"><img src='{{ index $.Site.Data.blog.signatures . "image" }}'
              alt='{{ index $.Site.Data.blog.signatures . "name" }}' data-pagespeed-url-hash="1651134052"
              onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></div>
          <div class="autorcontent">
            <div class="autorhead">
              <h3><a href="#" target="_blank" rel="noopener">{{ index $.Site.Data.blog.signatures . "name" }}</a></h3>
            </div>
            <p class="bio">{{ index $.Site.Data.blog.signatures . "bio" }}</p>
            <!-- <p><a href="" target="_blank" rel="noopener">Leia mais sobre o autor</a></p> -->
          </div>
        </div>
        {{ end }}
        {{ end }}
        <!-- \Assinatura dos autores -->


        <!-- comments -->
        {{ if site.DisqusShortname }}
        <div class="mt-5">
          <!--{{ partial "disqus.html" . }}  Esse é o que eu coloquei depois -->
          {{ template "_internal/disqus.html" . }}
          <!-- Esse é o que tava antes -->
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>

<!-- regular page -->
{{ else }}
{{ partial "page-header.html" . }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="content">{{ .Content }}</div>
      </div>
    </div>
  </div>
</section>
{{ end }}


{{ end }}